@import "variables.scss";
section.about {
  width: 100%;
  min-height: 100vh;
}
.about {
  .nav-link {
    background: $light-grey;
  }
  p {
    font-size: 1.1rem;
  }
  img {
    // max-width: 560px;
    padding-right: 24px;
  }
  h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  span {
    font-size: 0.62rem;
  }
  .item {
    .text {
      margin-right: 100px;;
    }
    &:nth-of-type(2) {
      flex-flow: row-reverse;
      .text {
        margin-right: 0px;
        margin-left: 100px;
      }
    }
    img {
      padding: 0;
      max-width: 560px;
    }
  }
  &-me, &-work {
    margin-bottom: 100px;
  }

  &-me {
    p {
      margin-bottom: 8px;
    }
    a {
      position: relative;
      font-size: 1.1rem;
      font-weight: 600;
      &::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background: $black;
        top: calc(50% + 1px);
        transform: scaleX(0);
        transition-timing-function: cubic-bezier(0.64, 0.04, 0.35, 1);
        transition: 0.4s;
        transform-origin: left;
      }
      &:hover {
        &::before {
          transform: scaleX(1);
        }
      }
    }
    img, .text {
      width: 50%;
    }
    .text {
      padding-left: 30px;
    }
  }
  &-work {
    // .text {
    //   max-width: 720px;
    // }
    .areas {
      h2 {
        font-size: 1.7rem;
      }
    }
  }
  &-skills {
    // .text {
    //   max-width: 720px;
    // }
    h3 {
      font-weight: 600;
      padding-left: 20px;
      margin-bottom: 12px;
    }
    .item {
      margin-bottom: 18px;
      width: calc(100% / 3);
      padding: 0 20px;
    }
    .line {
      height: 6px;
      background: $bright-grey;
      margin-top: 6px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 96%;
        height: 100%;
        background: $grey-dark;
        top: 0;
        left: 0;
      }
    }  
     
  }
}
.software {
  .item {
    &:nth-of-type(2) {
      .line::after {
        width: 92%;
      }
    }
    &:nth-of-type(3) {
      .line::after {
        width: 94%;
      }
    }
    &:nth-of-type(4) {
      .line::after {
        width: 84%;
      }
    }
    &:nth-of-type(5) {
      .line::after {
        width: 80%;
      }
    }
    &:nth-of-type(6) {
      .line::after {
        width: 56%;
      }
    }
    &:nth-of-type(7) {
      .line::after {
        width: 90%;
      }
    }
    &:nth-of-type(8) {
      .line::after {
        width: 73%;
      }
    }
    &:nth-of-type(9) {
      .line::after {
        width: 70%;
      }
    }
    &:nth-of-type(10) {
      .line::after {
        width: 82%;
      }
    }
    &:nth-of-type(11) {
      .line::after {
        width: 90%;
      }
    }
    &:nth-of-type(12) {
      .line::after {
        width: 28%;
      }
    }
    &:nth-of-type(13) {
      .line::after {
        width: 87%;
      }
    }
    &:nth-of-type(14) {
      .line::after {
        width: 68%;
      }
    }
    &:nth-of-type(15) {
      .line::after {
        width: 33%;
      }
    }
  }
}
.skill {    
  .item {
    &:nth-of-type(1) {
      .line::after {
        width: 90%;
      }
    }
    &:nth-of-type(2) {
      .line::after {
        width: 70%;
      }
    }
    &:nth-of-type(3) {
      .line::after {
        width: 64%;
      }
    }
    &:nth-of-type(4) {
      .line::after {
        width: 70%;
      }
    }
    &:nth-of-type(5) {
      .line::after {
        width: 43%;
      }
    }
    &:nth-of-type(6) {
      .line::after {
        width: 86%;
      }
    }
    &:nth-of-type(7) {
      .line::after {
        width: 86%;
      }
    }
    &:nth-of-type(8) {
      .line::after {
        width: 98%;
      }
    }
    &:nth-of-type(9) {
      .line::after {
        width: 85%;
      }
    }
    &:nth-of-type(10) {
      .line::after {
        width: 72%;
      }
    }
    &:nth-of-type(11) {
      .line::after {
        width: 64%;
      }
    }
    &:nth-of-type(12) {
      .line::after {
        width: 58%;
      }
    }
    &:nth-of-type(13) {
      .line::after {
        width: 57%;
      }
    }
    &:nth-of-type(14) {
      .line::after {
        width: 78%;
      }
    }
    &:nth-of-type(15) {
      .line::after {
        width: 38%;
      }
    }
  }
}
.column {
  width: 50%;
}
.skill-container {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -20px;
  margin-top: 60px;
  > div {
    width: 100%;
    flex-wrap: wrap;
  }
  .software {
    margin-bottom: 60px;
  }
  .skill {
    .item .line::after {
      background: $grey-dark; 
    }    
  }
}

.enclosure {
  background: $black-dark;
  color: white;
  p {
    font-size: 11px;
  }
  a {
    color: white;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 1px;
      background: rgba(255, 255, 255, 0.7);
    }
  }
}
.cont {
  padding: 60px 0;
}


@media (max-width: $desktop) {
  .about {
    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1rem;
    }
    .container {
      padding: 2rem 40px;
    }
    
    .item {
      img {
        max-width: 400px;
      }
      .text {
        margin-right: 50px;

        max-width: 520px;
      }
      &:nth-of-type(2) {
        .text {
          margin-left: 50px;
        }
      }
    }
    &-me {
      a {
        font-size: 1rem;
      }
      img {
        width: 50%;
      }
      .text {
        padding-left: 20px;
      }
    }
    &-work {

      .text {

        margin: 0;
      }
    }
    &-skills {
      .item {
        padding: 0 12px;
      }
      h3 {
        padding-left: 12px;
      }
    }
  }
  .skill-container {
    margin: 0 -12px;
    margin-top: 60px;
  }
  .enclosure {
    p {
      font-size: 11px;
    }
  }
  .cont {
    padding: 60px 40px;
  }
}  
@media (max-width: $tablet) {
  .about {
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.9rem;
    }
    &-me {
      a {
        font-size: 0.9rem;
      }
      img {
        padding-right: 12px;
      }
    }
    &-work {
      img {
        max-width: 360px;
      }
      .areas {
        h2 {
          font-size: 1.4rem;
        }
        p {
          font-size: 0.85rem;
        }
      }
    }
  }
  .enclosure {
    p {
      font-size: 11px;
    }
  }
  .cont {
    padding: 50px 30px;
  }
}
@media (max-width: $tablet-small) {
  .about {
    .container {
      padding: 1.5rem 30px;
    }
    &-me, &-work {
      margin-bottom: 70px;
    }
    &-me {
      flex-direction: column;
      img {
        padding: 0;
        width: 100%;
        max-width: none;
        margin-bottom: 30px;
      }
      .text {
        padding: 0;
        width: 100%;
      }
    }
    &-work {
      .areas {
        h2 {
          font-size: 1.2rem;
        }
      }
      .item {
        margin-bottom: 20px;
        img {
          width: 50%;
          margin-left: -36px;
        }
        &:nth-of-type(2) {
          img {
            margin-left: 0;
            margin-right: -6px;
          }
        }
        .text {
          margin: 0 !important;
          max-width: 320px;

        }
      }

    }
    &-skills {
      .item {
        width: 50%;
      }
    }
  }
  .enclosure {
    p {
      font-size: 10px;
    }
  }
}
@media (max-width: $phone) {
  .about {
    h2 {
      font-size: 19px;
    }
    p {
      font-size: 12px;
      line-height: 1.2;
    }
    span {
      font-size: 8px;
    }
    .container {
      padding: 1rem 20px;
    }
    &-me, &-work {
      margin-bottom: 50px;
    }
    &-me {
      a {
        font-size: 13pxrem;
      }
      img {
        margin-bottom: 20px;
      }
    }
    &-work {
      .areas {
        h2 {
          font-size: 16px;
        }
        p {
          font-size: 11px;
        }
      }
      .item {
        flex-direction: column !important;
        .text {
          max-width: none;
        }
        img {
          margin: 0 !important;
        }
      }
    }
    &-skills {
      h3 {
        font-size: 16px;
        padding: 0;
        margin-bottom: 4px;
      }
      .item {
        // width: 100%;
        padding: 0;
        margin-bottom: 4px;
        &:nth-of-type(odd) {
          padding-right: 6px;
        }
        &:nth-of-type(even) {
          padding-left: 6px;
        }
      }
      .line {
        height: 5px;
        margin-top: 0;
      }
      .text {
        margin-bottom: 30px;
      }
    }
  }
  .skill-container {
    margin: 0;
    .software {
      margin-bottom: 20px;
    }
  }
  .enclosure {
    p {
      font-size: 9px;
      line-height: 1.4;
    }
  }
  .cont {
    padding: 40px 20px;
  }
} 

