@import "variables.scss";

.footer {
  // background: red;
  padding: 50px;
  &-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: normal;
    align-items: center;
  }
  &-info {
    span {
      font-size: 11px;
      letter-spacing: 2px;
    }
    a {
      font-size: 20px;
    }
  }
  .social {
    align-items: center;
    justify-self: end;
    a {
      font-size: 12px;
    }
  } 
}