@import "variables.scss";

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div { 
  margin-bottom: 30px;
}
.work-hover-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  h3 {
    position: absolute;
    bottom: 12px;
    left: 10px;
    transform: translateX(-30px);
    opacity: 0;
  }
  .work-image-container {
    transform: scale(1);
    opacity: 1;
  }
}
.illustration,
.graphic {
  .navigation {
    font-size: 0.8rem;
    height: 32px;
    position: sticky;
    width: 100%;
    top: 96px;
    left: 0;
    background: white;
    z-index: 9;
    .flex a:nth-of-type(1) {
      margin-right: 20px;
    }
  }
  .navbar .link {
    background: white;
  }
}
.graphic {
  .navigation {
    background: $black;
  }
  .navbar .link {
    background: $black;
  }
}
.about {
  .navbar .link {
    background: $light-grey;
    a::before {
      background: $black;
    }
  }
}
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  img {
    height: 100%;
  }
}
.post {
  width: calc(100% / 3);
  padding: 8px;
}
.work {
  h2 {
    font-weight: 600;
    margin-bottom: 0.8rem;
  }
  p {
    margin-bottom: 1.5rem;
    white-space: pre-line;
  }
  .bullet {
    margin-bottom: 0.8rem;
    &:nth-of-type(3) {
      margin-bottom: 2rem;
    }
  }
  span {
    font-size: 0.7rem;
    opacity: 0.6;
  }
  h3 {
    font-size: 1rem;
  }
}
.post-info {
  align-self: flex-start;
  padding-right: 4rem;
  position: sticky;
  top: 140px;
  width: 50%;
}
.post-images {
  width: 100%;
  padding-top: 30px;
  img {
    margin-bottom: 32px;
  }
}
.work-hover-container .work-image-container,
.work-hover-container h3 {
  transition: all 0.3s ease-in-out;
}
.work-hover-container:hover .work-image-container {
  transform: scale(0.98);
  opacity: 0.6;
}
.work-hover-container:hover h3 {
  transform: translateX(0);
  opacity: 1;
}
.illustration, .graphic {
  .container {
    padding-top: 40px;
  }
}
@media (max-width: $desktop) {
  .illustration {
    .navigation {
      font-size: 0.75rem;
    }
  }
  .my-masonry-grid_column > div { 
    margin-bottom: 26px;
  }
  .my-masonry-grid_column {
    padding-left: 26px;
  }
  .my-masonry-grid {
    margin-left: -26px;
  }
  .my-masonry-grid_column {
    padding-left: 26px; 
  }
  .work {
    h3 {
      font-size: 1rem;
    }
  }
}
@media (max-width: $tablet) {

  .work {
    nav a {
      font-size: 0.7rem;
    }
    span {
      font-size: 0.6rem;
    }
    .bullet {
      &:nth-of-type(3) {
        margin-bottom: 0.8rem;
      }
    }
  }
  .post-info {
    padding-right: 3rem;
  }
  .my-masonry-grid_column > div { 
    margin-bottom: 20px;
  }
  .my-masonry-grid_column {
    padding-left: 20px;
  }
  .my-masonry-grid {
    margin-left: -20px;
  }
  .my-masonry-grid_column {
    padding-left: 20px; 
  }
  // .illustration .navigation, .graphic .navigation {
  //   top: 82px;
  // }
}
@media (max-width: $tablet-small) {
  .illustration {
    .navigation {
      height: 28px;
      top: 82px;
      margin-bottom: 30px;
    }
  }
  .work {
    span {
      font-size: 0.56rem;
    }
    h3 {
      font-size: 0.86rem;
    }
    .post-container {
      flex-direction: column;
    }
    .bullet-container {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    .bullet {
      margin-bottom: 0.8rem;
      display: inline-block;
      width: calc(100% / 3);
      flex-direction: row;
      &:nth-of-type(1) {
        padding-right: 10px;
      }
      &:nth-of-type(2) {
        padding: 0 10px;
      }
      &:nth-of-type(3) {
        padding-left: 10px;
      }
    }
  }
  .post-info {
    padding-right: 0;
    width: 100%;
    position: relative;
    top: 0;
  }
  .post-images {
    width: 100%;
    padding-top: 0;
    img {
      margin-bottom: 24px;
    }
  }
  .illustration, .graphic {
    .container {
      padding-top: 30px;
    }
  }
}
@media (max-width: $phone) {
  .illustration .navigation, .graphic .navigation {
    top: 64px;
    height: 20px;
  }
  .illustration {
    .navigation {
      height: 20px;
      top: 64px;
      margin-bottom: 18px;
    }
  }
  .work {
    nav a {
      font-size: 0.58rem;
    }
    .bullet-container {
      margin-bottom: 16px;
    }
    .bullet {
      margin-bottom: 0;
      &:nth-of-type(3) {
        margin-bottom: 6px;
      }
    }
    h2 {
      margin-bottom: 6px;
    }
    h3 {
      font-size: 11px;
    }
    p {
      margin-bottom: 0.6rem;
      line-height: 1.2;
    }
    span {
      font-size: 0.52rem;
    }
  }
  .post-images {
    img {
      margin-bottom: 16px;
    }
  }
  .illustration, .graphic {
    .container {
      padding-top: 20px;
    }
  }
}

//  .navbar.illustration .link a {
//   color: $black;
// }


.welcome {
  width: 75%;
  margin: 150px 0;
}