@import "variables.scss";
body {
  overflow: auto;
  font-family: $sofia;
  font-style: normal;
  // background: white;
  color: $black;
  text-rendering: optimizeLegibility;
  @include font-smoothing($value: antialiased);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
.title-container {
  position: absolute;
  top: 0;
  color: white;
}
.container {
  position: relative;
  max-width: $desktop;
  padding-top: 180px;
  width: 90%;
}

.overlay {
  z-index: 1;
  position: fixed;
  background: rgba(255, 255, 255, 1);
  // background: yellow;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(247, 244, 253, 0.2);
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.content-container {
  overflow-y: auto;
}

.card-image-container {
  display: inline-block;

}
.card {
  position: relative;
    display: block;
    height: 300px;
    margin: 12px;
    flex-grow: 1;
}
.card-content {
  display: grid;
}

a {
  color: $black;
  text-decoration: none;
  font-weight: $bold;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: $bold;
}
h1 {
  font-size: 46px;
}

h2 {
  font-size: 26px;
}
p {
  font-size: 20px;
  font-weight: $medium;
}


.toggle-icon {
  position: relative;
  width: 100%;
}

.button {
  width: 14px;
  height: 14px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 9;
  cursor: pointer;
  div {
    width: 100%;
    height: 100%;
  }
}
span, .mono {
  font-family: $roboto;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: normal;
}

