@import "variables.scss";

.title-container {
  display: none;
}
.container {
  position: relative;
  max-width: $desktop;
  padding-top: 180px;
  width: 90%;
}

.overlay {
  z-index: 1;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  // will-change: opacity;
  top: 0;
  bottom: 0;
  left: 0;
  // transform: translateX(-50%);
  width: 100%;
  // max-width: 990px;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}
img {
  width: 100%;
}

// .card-content-container {

// top: 0;
// left: 0;
// right: 0;
// position: fixed;
// z-index: 1;
// overflow: hidden;
// }


// .card-content-container.open {
//   position: fixed;
//   display: flex;
//   align-items: center;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   // padding: @qquad;
//   overflow-y: auto;
//   background: rgba(0, 0, 0, 0.7);
//   // z-index: @zindex-modal;


// }
// .card-content {
//   &__content {
//     width: 900px;
//     margin: auto;
//     max-width: 90%;
//     // padding: @quad;
//     background: white;
//     box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
// }
// }