@import "variables.scss";
body {
  overflow: auto;
  font-family: $sofia;
  font-weight: 700;
  font-style: normal;
  background: white;
  text-rendering: optimizeLegibility;
  @include font-smoothing($value: antialiased);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
.title-container {
  position: absolute;
  top: 0;
  color: white;
}
.container {
  position: relative;
  max-width: $desktop;
  padding-top: 180px;
  width: 90%;
}

.overlay {
  z-index: 1;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  // will-change: opacity;
  top: 0;
  bottom: 0;
  left: 0;
  // transform: translateX(-50%);
  width: 100%;
  // max-width: 990px;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}
img {
  width: 100%;
}

// .card-content {
//   display: inline-block;
// }
// .card-image-container {
//   display: inline-block;
// }
// .card-content {
//   display: grid;
// }
// .card-image-container {
//   display: inline-block;
// }