@import "variables.scss";
.card-content-container.open {
  .images {
    // width: calc(70% - 60px);
    // display: inline-flex;
    // padding-left: 60px;
    // display: inline-flex;
    img {
      width: 100%;
    }

  }
  .text-container {
    // width: 30%;
    position: sticky;
    top: 32px;
    // right: 0;
    // display: inline-flex;
    // float: left;
    h3 {
      position: static;
    }
    p {
      margin: 0;
    }
  }
}

// .container {
//   border: 1px solid red;
// }
