@import "variables.scss";
.card-content-container.open {
  .images {
    img {
      width: 100%;
      margin-top: 16px;
      background: white;
    }
    .card-image-container {
      img {
        margin: 0;
      }
    }
  }
  .text-container {
    position: sticky;
    top: 0;
    h3 {
      position: static;
    }
    p {
      margin-top: 10px;
    }
  }
}


@media (max-width: $phone) {
  .card-content-container.open {
    .images {
      img {
        margin-top: 8px;
        // &:last-child {
        //   margin-bottom: 100px;
        // }
      }
    }
  }
}