@import "variables.scss";

@mixin flex {
  display: flex;
}
@mixin vertical {
  flex-direction: column;
  &-reverse {
    flex-direction: column-reverse;
  }
}
@mixin center {
  justify-content: center;
  align-items: center;
}
.flex {
  @include flex;
}
.vertical {
  @include vertical;
}
.horizontal {
  flex-direction: row;
  &-reverse {
    flex-direction: row-reverse;
  }
}

.align {
  &-stretch {
    align-items: stretch;
  }
  &-end {
    align-items: flex-end;
  }
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
}
.justify {
  &-start {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
  &-between {
    justify-content: space-between;
  }
}
.self-start {
  align-self: flex-start;
}
.self-center {
  align-self: center;
}
.self-end {
  align-self: flex-end;
}
.flex-center {
  @include flex;
  @include center;
}
.flex-vertical {
  @include flex;
  @include center;
  @include vertical;
}

