@import "variables.scss";

.navbar {
  position: fixed;

  // background: white;
  height: 96px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 991;
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: normal;
    align-items: center;
    padding: 0 50px;
    width: 100%;
  }
  .logo {
    width: 92px;
    z-index: 9;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    // svg {
    //   width: 100%;
    //   path, polygon {
    //     fill: $black;
    //   }
    // }
  }
  .link {
    &-container {
      position: relative;
      
    }
    a {
      // margin-left: 64px;
      margin-left: 44px;
      font-size: 20px;
      cursor: pointer;
      // color: $black;
      position: relative;
    }
    // .outline {
    //   position: absolute;
    //   background: pink;
    //   height: 10px;
    //   width: 100%;
    //   bottom: -20px;
    //   left: 0;
    // }
  }

  .svg-logo {
    display: block;
  }
  .svg-iso {
    display: none;
  }
}

.navigation {

  a {
    cursor: pointer;
    // text-indent: 100%;
    // white-space: nowrap;
    // overflow: hidden;
  }
}
.svg-cross {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: $black;
  stroke-width: 2px;
  stroke-miterlimit: 10;
}

@media (max-width: $phone) {
  .navbar {
    height: 80px;
    .wrapper {
      // width: auto;
      padding: 0 20px;
    }
    .logo {
      width: 54px;
    }
    .link {
      margin-right: 30px;
      a {
        margin-left: 22px;
        font-size: 16px;
      }
    }
  }
  .navigation {
    position: fixed;
    width: calc(100% - 40px);
    top: 80px;
    height: 20px;
    z-index: 9;
    a {
      font-size: 11px;
      // width: 100%;
    }
  }
  .svg-cross {
    width: 16px;
    height: 16px;
  }
}