@import "variables.scss";

.navbar {
  position: fixed;
  // background: white;
  height: 96px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 991;
  .wrapper {
    padding: 0 50px;
    width: 100%;
  }
  .logo {
    width: 92px;
    z-index: 9;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    // svg {
    //   width: 100%;
    //   path, polygon {
    //     fill: $black;
    //   }
    // }
  }
  .link {
    &-container {
      position: relative;
      
    }
    a {
      // margin-left: 64px;
      margin-left: 44px;
      font-size: 20px;
      cursor: pointer;
      // color: $black;
      position: relative;
    }
    // .outline {
    //   position: absolute;
    //   background: pink;
    //   height: 10px;
    //   width: 100%;
    //   bottom: -20px;
    //   left: 0;
    // }
  }
  .menu {
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
    z-index: 10;
    display: none;
    .line {
      width: 32px;
      height: 2px;
      position: absolute;
      top: 13px;
      right: 0;
      background: white;
      &:nth-of-type(2) {
        top: auto;
        bottom: 13px;
      }
    }
  }
  .svg-logo {
    display: block;
  }
  .svg-iso {
    display: none;
  }
}

.navigation {
  font-size: 0.8rem;
  height: 32px;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 9;
  .flex a:nth-of-type(1) {
    margin-right: 20px;
  }
  a {
    cursor: pointer;
  }
}