@import "variables.scss";

.navbar {
  position: fixed;
  background: transparent;
  height: 96px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 991;
  background: white;
  .wrapper {
    padding: 0 50px;
    width: 100%;
  }
  .logo {
    width: 92px;
    z-index: 9;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    svg {
      width: 100%;
      path, polygon {
        fill: $black;
      }
    }
  }
  .link {
    a {
      margin-left: 4rem;
      font-size: 20px;
      cursor: pointer;
      color: $black;
      position: relative;
    }
  }
  .menu {
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
    z-index: 10;
    display: none;
    .line {
      width: 32px;
      height: 2px;
      position: absolute;
      top: 13px;
      right: 0;
      background: white;
      &:nth-of-type(2) {
        top: auto;
        bottom: 13px;
      }
    }
  }
  .svg-logo {
    display: block;
  }
  .svg-iso {
    display: none;
  }
}


