@import "variables.scss";

.social {
  z-index: 1;
  a {
    position: relative;
    font-size: 20px;
    padding: 0 18px;
    text-decoration: none;
    text-transform: lowercase;
    &:first-child {
      padding-left: 0;
      &::before {
        content: none;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: auto;
      right: 0;
      bottom: auto;
      left: 0;
      width: 1px;
      height: 13px;
    }
  }
}

@media (max-width: $phone) {
  .social {
    width: 100%;
    justify-content: space-between;
    a {
      width: 100%;
      font-size: 16px;
      padding: 0;
      &::before {
        content: none;
      }
    }
  }
}