@import "variables.scss";

.card-content-container {
  .container {
    padding: 0;
    // width: 100%;
    // background: red;
  }
  h3 {
    position: absolute;
    left: 18px;
    bottom: 18px;
  }
}

.card-content-container.open {
  top: 96px;
  left: 0;
  right: 0;
    // width: 90%;
    // max-width: $desktop;
  height: 100%;
  position: fixed;
  // position: absolute;
  z-index: 9;
  // overflow: hidden;
  overflow: scroll;
  overflow: auto;
  // padding: 40px 0;
  // background: red;

  // .card-image-container {
  //   background: blue;
  //   img {
  //     opacity: 0.5;
  //   }
  // }
  .card-image-container {
    width: 100%;
    img {
      width: inherit;
    }
  }

}


.card-open-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.something-here {
  // display: inline-block;
  // background: red;
}
.titled {
  display: none;
}
