@import "variables.scss";
body {
  overflow: auto;
  font-family: $sofia;
  font-style: normal;
  // background: white;
  color: $black;
  text-rendering: optimizeLegibility;
  @include font-smoothing($value: antialiased);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
a:focus {
  outline: none; }

.title-container {
  position: absolute;
  top: 0;
  color: white;
}
.container {
  position: relative;
  max-width: $desktop;
  padding-top: 180px;
  width: 90%;
}

.overlay {
  z-index: 1;
  position: fixed;
  // background: rgba(255, 255, 255, 1);
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(247, 244, 253, 0.2);
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.content-container {
  overflow-y: auto;
}

.card-image-container {
  // display: inline-block;

}
.card {
  position: relative;
    display: block;
    height: 300px;
    margin: 12px;
    flex-grow: 1;
}
.card-content {
  display: grid;
}

a {
  color: $black;
  text-decoration: none;
  font-weight: $font-bold;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: $font-bold;
}
h1 {
  font-size: 46px;
}

h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
p {
  font-size: 20px;
  font-weight: $font-medium;
}


.toggle-icon {
  position: relative;
  width: 100%;
}

.button {
  width: 14px;
  height: 14px;
  position: fixed;
  bottom: auto;
  top: 44px;
  z-index: 991;
  right: 20px;
  cursor: pointer;
  div {
    width: 100%;
    height: 100%;
  }
}
span, .mono {
  font-family: $roboto;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: normal;
}

.above {
  z-index: 2
}
@media (max-width: $desktop) {
  p {
    font-size: 17px;
  }
}
@media (max-width: $tablet) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 16px;
  }
}
@media (max-width: $tablet-small) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .content-wrapper {
    padding: 0 30px;
  }
  .container {
    padding-top: 120px;
    width: 100%;
  }
  .button {
    top: 40px;
  }
}




@media (max-width: $phone) {
  h1 {
    font-size: 28px;
  }
  
  h2 {
    font-size: 16px;
    line-height: 1.3;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 13px;
  }
  .content-wrapper {
    padding: 0 20px;
  }
  .container {
    padding-top: 100px;
  }
  .button {
    top: 36px;
  }
}