@import "variables.scss";

.navbar {
  position: fixed;
  height: 96px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 991;
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: normal;
    align-items: center;
    padding: 0 50px;
    width: 100%;
  }
  .logo {
    width: 92px;
    z-index: 9;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
  }
  .link {
    margin-right: 20px;
    &-container {
      position: relative;
    }
    a {
      margin-left: 44px;
      font-size: 20px;
      cursor: pointer;
      position: relative;
    }
  }
  .svg-logo {
    display: block;
  }
  .svg-iso {
    display: none;
  }
}
.navigation {
  a {
    cursor: pointer;
  }
}
.svg-cross {
  width: 20px;
  height: 20px;
  fill: none;
  stroke-width: 2px;
  stroke-miterlimit: 10;
}
@media (max-width: $tablet-small) {
  .navbar {
    height: 90px;
    .wrapper {
      padding: 0 30px;
    }
    .logo {
      width: 78px;
    }
    .link {
      margin-right: 40px;
    }
  } 
}   
@media (max-width: $phone) {
  .navbar {
    height: 80px;
    .wrapper {
      padding: 0 20px;
    }
    .logo {
      width: 54px;
    }
    .link {
      margin-right: 30px;
      a {
        margin-left: 22px;
        font-size: 16px;
      }
    }
  }
  .navigation {
    position: fixed;
    width: calc(100% - 40px);
    top: 80px;
    height: 20px;
    z-index: 9;
    a {
      font-size: 11px;
    }
  }
  .svg-cross {
    width: 14px;
    height: 14px;
  }
}